{% extends 'index.html' %}

{% block body %}
    <h3>Enter a Video Game Car</h3>
    <form method = "post" action="/">
        <p>Brand</p>
        <input type="text" name="Brand" required>
        <br><br>
        <p>Car</p>
        <input type="text" name="Car" required>
        <br><br>
        <p>Year</p>
        <input type="text" name="Year" required>
        <br><br>
        <p>Game</p>
        <input type="text" name="Game" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}